.text 
    width: 920px
    height: max-content
    font-family: 'Product Sans',sans-serif
    font-size: 25px
    font-weight: normal
    font-style: normal
    font-stretch: normal
    line-height: 1.23
    letter-spacing: normal
    text-align: center
    color: #ffffff
    margin: 25px 0px
.header
    display: flex !important
    float: left !important
    margin-top: 4rem
    padding-left: 16rem
    width: 100%
    @media screen and (max-width: 930px)
        padding-left: 1rem

.b
    width: 8.0rem
    margin-left: 6rem
    font-size: 24px
    text-align: center
    cursor: pointer
    outline: none
    color: #fff
    border-color: #2bb673
    background-color: #000000
    border-radius: 15px
    @media screen and (max-width: 980px)
        margin-left: 1rem
    &:hover 
     background-color: #2bb673
     color: #000000
