<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" *ngIf="isMobile" [(opened)]="opened">Sidenav content</mat-sidenav>
  <mat-sidenav-content (scroll)="onScroll($event)">

    <div class='row center-lg center-xs center-md' style='display: flex;'>
      <div class="col-sm12 col-md6 col-lg4">
        <app-speaker-card></app-speaker-card>
      </div>
      <div class="col-sm12 col-md6 col-lg4">
        <app-speaker-card></app-speaker-card>
      </div>
      <div class="col-sm12 col-md6 col-lg4">
        <app-speaker-card></app-speaker-card>
      </div>
      <div class="col-sm12 col-md6 col-lg4">
        <app-speaker-card></app-speaker-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
