p
	width: 920px
	height: max-content
	font-family: 'Product Sans',sans-serif
	font-size: 25px
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.23
	letter-spacing: normal
	text-align: center
	color: #ffffff
.Path-51
	width: 72.3px 
	transform: translate(-180px, 130px) 
	@media screen and (max-width: 930px)
		display: none

.Path-48
	width: 72.3px 
	transform: translate(940px, 1090px) 
	@media screen and (max-width: 930px)
		display: none
	@media screen and (max-height:930px)
		display: none

.Path-47
	width: 82.3px 
	transform: translate(950px, 500px) 
	@media screen and (max-width: 930px)
		display: none
	@media screen and (max-height:930px)
		display: none
