<div class="container">
  <img src="/assets/images/Group 50.png" class='Path-51'>
  <img src="/assets/images/Path 48.png" class='Path-48'>
  <img src="/assets/images/Path 47.png" class='Path-47'>
  <img src="/assets/images/Path 50.png" class='Path-50'>
  <img src="/assets/images/Path 49.png" class='Path-49'>
  <img src="/assets/images/Path 23.png" class='Path-23'>
  <div id="speakers">
    <div class='row center-lg center-xs center-md'>
      <div class="col-xs-12">
        <app-homepage-title title='Team' color='#419BF9'></app-homepage-title>
      </div>
      <p>DevFest Gandhinagar is brought to you with ❤️ love,
        🤹‍♂️ efforts and endless 🎉 fun from GDG Gandhinagar team. </p>
      <p>So what is GDG exactly? Perhaps Google doesn't need an introduction.
        Google services became common nouns — every day we "google" things we need to know,
        check our Gmail on the go, and Google Maps is a lifesaver.
        For regular users, they are just handy services, but not for us.
        Developers see much more: APIs, scalability issues, complex technology stacks.
        And that is what GDG is about. </p>
      <p>Also we are very talkative, so if you're a fellow community organizer
        or just have some random questions, feel free to reach any of us on social media.
        We'd love to help! </p>

      <div class="col-xs-12">
        <app-homepage-title title='Core Team' color='#419BF9'></app-homepage-title>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let member of core">
        <app-team-card isHomePage='false' [config]='member'></app-team-card>
      </div>

      <div class="col-xs-12">
        <app-homepage-title title='Team' color='#419BF9'></app-homepage-title>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let member of team?.data">
        <app-team-card isHomePage='false' [config]='member'></app-team-card>
      </div>
    </div>
  </div>
