p
	width: 920px
	height: max-content
	font-family: 'Product Sans',sans-serif
	font-size: 25px
	font-weight: normal
	font-style: normal
	font-stretch: normal
	line-height: 1.23
	letter-spacing: normal
	text-align: center
	color: #ffffff
.Path-51
	position: absolute
	width: 72.3px 
	transform: translate(-180px, 130px) 
	@media screen and (max-width: 930px)
		display: none

.Path-48
	position: absolute
	width: 72.3px 
	transform: translate(1000px, 1090px) 
	@media screen and (max-width: 930px)
		display: none

.Path-47
	position: absolute
	width: 82.3px 
	transform: translate(-350px, 700px)
	@media screen and (max-width: 930px)
		display: none

.Path-50
	position: absolute
	width: 52.3px
	transform: translate(850.7px, 2000px)
	@media screen and (max-width: 930px)
		display: none

.Path-49
	position: absolute
	width: 62.3px
	transform: translate(-450px, 2800px)
	@media screen and (max-width: 930px)
		display: none

.Path-23
	position: absolute
	width: 42.3px
	transform: translate(750px, 3400px)
	@media screen and (max-width: 930px)
		display: none
