<div class="container">
    <div id="about">
        <div class='row center-lg center-xs center-md'>
            <div class="col-xs-12">
                <app-homepage-title title='About Us' color='#419bf9'></app-homepage-title>
            </div>
            <p>DevFest Gandhinagar is brought to you with ❤️ love,
                🤹‍♂️efforts and endless 🎉fun from GDG Gandhinagar team. </p>
            <img class="img1"
                src="assets/images/abt4.JPG"
                alt="Image1">
            <p>So what is GDG exactly? Perhaps Google doesn't need an introduction.
                Google services became common nouns — every day we "google" things we need to know,
                check our Gmail on the go, and Google Maps is a lifesaver.
                For regular users, they are just handy services, but not for us.
                Developers see much more: APIs, scalability issues, complex technology stacks.
                And that is what GDG is about. </p>
            <div class="img2">
                <img src="assets/images/abt2.JPG" width="350" alt="Image2" style="margin: 1rem">
                <img src="assets/images/abt3.JPG" width="350" alt="Image2" style="margin: 1rem">
            </div>
            <p>Also we are very talkative, so if you're a fellow community organizer
                or just have some random questions, feel free to reach any of us on social media.
                We'd love to help! </p>
            <img class="img3"
                src="assets/images/abt1.JPG"
                alt="Image3">
        </div>
        <img src="/assets/images/Path 50.png" class='Path-50'>
        <img src="/assets/images/Ellipse 26.png" class='e-26'>
        <img src="/assets/images/Group 50.png" class='Path-51'>
    </div>
</div>
