<div class="wrapper">
  <div matRipple matRippleColor='#ffffff40' class="card-container">
    <div class="picture-wrapper">
      <app-profile-icon [src]='config.image' width='150'></app-profile-icon>
    </div>

    <div class="team-name center-align">
      {{config.name}}
    </div>
    <div class="tag center-align">
      {{config.role}}
    </div>
    <div class="icons-row center-align" *ngIf="!isHomePage">
      <div class="icon-wrapper" *ngFor="let item of config.socialMediaLinks">
        <div [ngSwitch]="item.kind">
          <div *ngSwitchCase="'Github'">
            <a [href]="item.link"><span class='icon'>{{item.icon}}</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- basic speaker card component -->
