<div class="wrapper">
  <div matRipple matRippleColor='#ffffff40' class="card-container">
    <div class="picture-wrapper">
      <app-profile-icon [src]='config.image' width='150'></app-profile-icon>
    </div>

    <div class="team-name center-align">
      {{config.name}}
    </div>
    <div class="job-title center-align">
      {{config.contribution}}
    </div>
    <a *ngIf="config.linkedin_url" mat-icon-button class="btn-linkedin" target="_blank" href="{{config.linkedin_url}}">
      <i class="fa fa-linkedin fa-lg"></i>
    </a>
    <a *ngIf="config.fb_url" mat-icon-button class="btn-facebook" target="_blank" href="{{config.fb_url}}">
      <i class="fa fa-facebook-f fa-lg"></i>
    </a>
    <a *ngIf="config.twitter_url" mat-icon-button class="btn-twitter" target="_blank" href={{config.twitter_url}}>
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a *ngIf="config.twitter_url" mat-icon-button class="btn-github" target="_blank" href="{{config.github_url}}">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</div>
