.container
  overflow-x: hidden(!important)

.sub-title
  font-family: "Product Sans"
  font-size: 2em
  font-weight: lighter

  @media screen and (max-width: 930px)
  font-size: 1.5em

#header
  width: 99vw
  font-family: 'Product Sans'
  height: calc(100vh - 64px )
  position: relative
  margin-bottom: 100px

  .content
    display: flex
    height: 100%
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    z-index: 500
    .date
      font-family: "Product Sans"
      font-size: 3em
      margin-bottom: 50px
      text-align: center
      @media screen and (max-width: 930px)
        font-size: 2em
        margin-bottom: 20px
    .subscribe
      button
        margin: 0 10px
    .organizers
      display: flex
      justify-content: center
      flex-direction: row

  .gdg-image
    max-width: 19rem
    height: 10rem
    margin: 5rem auto
    font-family: "Product Sans"
    @media screen and (max-width: 930px)
      max-width: 200px
    object-fit: contain
    margin-bottom: 50px

#about
  .wrapper
    height: 100%
    .title
      font-family: "Product Sans"
      font-size: 2.5em
      margin-bottom: 50px
      @media screen and (max-width: 930px)
        font-size: 2em
      @media screen and (max-width: 610px)
        margin-bottom: 50px

    .about-text
      font-family: "Product Sans"
      font-size: 1.3em
      padding-left: 20px
      position: relative
      &:after
        content: ""
        position: absolute
        left: 0
        top: 0
        width: 3px
        border-radius: 10px
        height: 100%
        background: #EE2A7B
      @media screen and (max-width: 610px)
        margin-bottom: 50px

      .section
        margin-bottom: 20px
  .diagram
    margin-bottom: 3rem

#tickets
  margin-bottom: 0px
  padding: 30px auto

#speakers
  p
    @media screen and (max-width: 930px)
      font-size: 0.8em
      line-height: 40px
  .sub-title
    &.previous
      margin-bottom: 40px

#team
  text-align: left
  .team-image
    width: calc(100% - 60px)
    height: 350px
    margin: 15px
    border-radius: 15px
    padding: 15px
    border: 4px solid #ffffff

    img
      // border-radius: 15px
      overflow: hidden
      width: 100%
      height: 100%
      object-fit: cover
  .section-title
    padding: 5px
    font-family: "Product Sans"
    font-size: 1.8em
    font-weight: lighter
    text-align: left
  .btn
    text-align: left
    margin: 10px
  .section-details
    padding: 10px
    text-align: left
    font-family: "Product Sans"
    font-size: 1em
    font-weight: lighter

#partners
  .general-partners
    display: inline-grid
    width: 100%
    grid-auto-flow: column
    @media screen and (max-width: 1000px)
      display: list-item
  .design-partner
    padding-top: 4rem
  .design-image
    width: 225px
    height: 225px
  .partner-section
    margin-bottom: 2rem

.button
  &:hover
    color: #424242
    background-color: white 

.btn-facebook
  color:#fff !important
  background-color:#3b5998 !important
  margin: 10px 20px
.btn-slack
  color:#fff !important
  background-color:#007bb6 !important
  margin: 10px 20px
.btn-youtube
  color:#fff !important
  background-color:#ff4b39 !important
.btn-meetup
  color:#fff !important
  background-color:#dd4b39 !important
  margin: 10px 20px
.btn-twitter
  color:#fff !important
  background-color:#55acee !important
  margin: 10px 20px
.btn-youtube
  color:#fff !important
  margin: 10px 20px
  i
    line-height: 40px

p
  @media screen and (max-width: 1400px)
    line-height: 30px
    font-size: 1em
iframe
  position: relative
  overflow: hidden
  border-radius: 25px
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)
  -webkit-border-radius: 20px
  -o-border-radius: 20px
  @media screen and (max-width: 1000px)
    height: 200px
    width: 100%
.Path-46
  width: 62.3px
  transform: translate(1050.7px, 120px)
  @media screen and (max-width: 930px)
    display: none

.Path-47
  width: 92.3px
  transform: translate(-280.7px, 650px)
  @media screen and (max-width: 930px)
    display: none

.Path-48
  width: 92.3px
  transform: translate(-220.7px, 550px)
  @media screen and (max-width: 930px)
    display: none

.Path-49
  width: 62.3px
  transform: translate(1050.7px, 100px)
  @media screen and (max-width: 930px)
    display: none

.e-27
  width: 32.3px
  transform: translate(-180px, 370px)
  @media screen and (max-width: 930px)
    display: none

.Path-50
  width: 52.3px
  transform: translate(1100.7px, 170px)
  @media screen and (max-width: 930px)
    display: none

.e-26
  width: 32.3px
  transform: translate(980px, 250px)
  @media screen and (max-width: 930px)
    display: none

.Path-51
  width: 72.3px
  transform: translate(-60.7px, 180px)
  @media screen and (max-width: 930px)
    display: none

.Path-23
  width: 42.3px
  transform: translate(800.7px, 580px)
  @media screen and (max-width: 930px)
    display: none
