<div id="header">
  <div class="content">
    <img class="gdg-image" src="assets/images/Group-64.png" alt="">
  </div>
  <div class="bg">
    <app-home-page-header></app-home-page-header>
  </div>
</div>
<div id='about' class='container'>
  <div class="row middle-lg middle-md middle-sm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="wrapper">
        <div class="title">
          What you need to know,<br>
          before you ask.
        </div>
        <div class="about-text">
          <div class="section">
            GDG DevFest Gandhinagar brings together the renowned experts
            in Mobile, Web and Cloud technologies to Gandhinagar for sessions,
            workshops and showcases.
          </div>

          <div class="section">
            Described by many as 'Best Tech Conference'
            in Gandhinagar, our team creates DevFest to be the best place
            for experience sharing in a phenomenal atmosphere.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="wrapper">
        <br> <br>
        <div class="row middle-sm center-sm middle-md center-md middle-lg
          center-lg">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diagram">
            <app-data-icon title='Attendees' color='#D7DF23' data='250+'></app-data-icon>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diagram">
            <app-data-icon title='Sessions' color='#1B75BC' data='12+'></app-data-icon>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diagram">
            <app-data-icon title='Speakers' color='#2BB673' data='10+'></app-data-icon>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 diagram">
            <app-data-icon title='Tracks' color='#FFC927' data='3+'></app-data-icon>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="speakers">
    <img src="/assets/images/Path 46.png" class='Path-46'>
    <img src="/assets/images/Path 47.png" class='Path-47'>
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Rockstar Speakers' color='#2BB673'></app-homepage-title>
      </div>
      <div class="col-xs-12" style='height: 250px'>
        <div class="sub-title" style='line-height:250px;font-size: 2.5em'>
          <p> Rockstars🤘 are on the way! </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngIf="false">
        <app-speaker-card [isHomePage]='true'></app-speaker-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngIf="false">
        <app-speaker-card [isHomePage]='true'></app-speaker-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngIf="false">
        <app-speaker-card [isHomePage]='true'></app-speaker-card>
      </div>
      <div class="col-xs-12">
        <button mat-raised-button isRoundButton='true' color='#2BB673'>See More</button>
      </div>
    </div>
    <div class='row center-lg center-xs center-md'>
      <div class="col-xs-12">

        <h3 class="sub-title Previous">Previous Rockstar Speakers</h3>

      </div>
    </div>
    <div class='row center-lg center-xs center-md'>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Arif.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Bhavik.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Charmi.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\chintan.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Hardy.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Jaldeep.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Jinal.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Krunal.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\manohar.jpeg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Naitik.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Naresh.jpg'>
        </app-profile-icon>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <app-profile-icon width=100 src='\assets\images\Speakers\Parth.jpg'>
        </app-profile-icon>
      </div>

    </div>
  </div>


  <div id="gallery" class="section-block">
    <img src="/assets/images/Path 48.png" class='Path-48'>
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Gallery' color='#00AEEF'></app-homepage-title>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let item of
        [1,2,3,4,5,6]">
        <app-gallery-image src='assets/images/g{{item}}.JPG'></app-gallery-image>
      </div>
      <div class="col-xs-12" style='margin-top: 50px'>
        <a mat-raised-button isRoundButton='true' target="_blank" href='https://photos.app.goo.gl/CojnpJaXwuLuqeV66'
          color='#2BB673'>View More</a>
      </div>
    </div>
  </div>

  <img src="/assets/images/Path 49.png" class='Path-49'>
  <div id="tickets" class="section-block" style="margin-bottom: 0">
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Tickets' color='#00AEEF'></app-homepage-title>
      </div>
      <div class="col-xs-12" style='height: 250px'>
        <div class="sub-title" style='line-height:250px;font-size: 2.5em'>
          Coming Soon!
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/images/Ellipse 27.png" class='e-27'>
  <div id="venue" class="section-block" style="margin-bottom: 0">
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Venue' color='#90148c'></app-homepage-title>
      </div>
      <div class="col-xs-12">
        <div class='map-wrapper'>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.497127784073!2d72.62684071493652!3d23.18854688486926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2a3c9618d2c5%3A0xc54de484f986b1fa!2sDhirubhai%20Ambani%20Institute%20of%20Information%20and%20Communication%20Technology!5e0!3m2!1sen!2sin!4v1567362841953!5m2!1sen!2sin"
            width="850" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="sub-title" style='line-height:50px;font-size: 1.5em'>
          <p>
            Dhirubhai Ambani Institute of Information and Communication
            Technology. <br>
            Near Reliance Chowkdi, DA IICT Road, Gandhinagar, Gujarat 382007
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>


  <img src="/assets/images/Path 50.png" class='Path-50'>
  <div id="team" class="section-block">
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Who we are?' color='#F9BC15'></app-homepage-title>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class='team-image'>
          <img src="assets/images/t1.JPG" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="row left-xs left-lg left-sm left-md middle-lg middle-md
          middle-sm middle-xs">
          <div class="col-xs-12">

            <div class='organizer section'>
              <div class='organizer-title section-title'>
                Organizers
              </div>
              <div class='organizer-details section-details'>
                GDG Gandhinagar with support of many geeks from all around
                Gandhinagar is proud organizer of DevFest
                Gandhinagar
              </div>
              <div class="btn">
                <a mat-raised-button isRoundButton='true' target="_blank" [routerLink]="['/team']"
                  routerLinkActive="router-link-active" color='#2BB673'>View
                  More</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class='gdg section'>
              <div class='gdg-title section-title'>
                What is GDG Gandhinagar?
              </div>
              <div class='gdg-details section-details'>
                Google Developers Group (GDG) - is open and volunteer geek
                community who create exciting projects and
                share experience about Google technologies with a passion
              </div>
              <div class="btn">
                <a mat-raised-button isRoundButton='true' target="_blank" [routerLink]="['/about']"
                  routerLinkActive="router-link-active" color='#2BB673'>View
                  More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/images/Ellipse 26.png" class='e-26'>
  <div id="subscribe" class="section-block">
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12 col-md-12" style='height: max-content;font-weight:
        bold'>
        <br>
        <div class="sub-title" style='line-height:50px;font-size: 2em'>
          Contact Us
        </div>
        <div class="sub-title" style='line-height:70px;font-size: 1.4em'>
          <a href="mailto:{{$email}}" style="color: #fff">gdggandhinagar@gmail.com</a>
        </div>
        <div class="sub-title" style='line-height:70px;font-size: 2.2em'>
          Subscribe for Updates
        </div>
        <div class="col-xs-12" style='line-height:70px'>
          <button mat-raised-button isRoundButton='true' color='#2BB673'>Subscribe</button>
        </div>
        <div style="text-align:center">
          <a mat-icon-button class="btn-meetup" href="https://www.meetup.com/GDG-Gandhinagar/"><i
              class="fa fa-meetup fa-lg"></i></a>
          <a mat-icon-button class="btn-slack" href="https://gdg-gandhinagar.slack.com/"><i
              class="fa fa-slack fa-lg"></i></a>
          <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/GDGGandhinagar/"><i
              class="fa fa-facebook-f fa-lg"></i></a>
          <a mat-icon-button class="btn-twitter" href="https://twitter.com/GDG_Gandhinagar?s=08"><i
              class="fa fa-twitter fa-lg"></i></a>
          <a mat-icon-button class="btn-youtube" href="mailto:{{$email}}"><i class="fa fa-envelope fa-lg"></i></a>

        </div>
      </div>

    </div>
  </div>
  <img src="/assets/images/Group 50.png" class='Path-51'>
  <img src="/assets/images/Path 23.png" class='Path-23'>
  <div id='partners' class="section-block">
    <div class='row center-lg center-xs center-md middle-lg middle-md middle-sm
      middle-xs'>
      <div class="col-xs-12">
        <app-homepage-title title='Partners' color='#00AEEF'></app-homepage-title>
      </div>
      <div>
        <div class="col-xs-12 col-md-12">
          <div class="sub-title" style='line-height:50px;font-size:
            1.5em;margin-bottom: 20px'>
            General Partners
          </div>
        </div>
        <div class="general-partners">
          <div>
            <app-partner-image
              src='https://user-images.githubusercontent.com/32234926/64077425-38477280-ccee-11e9-9798-b06f872d6f61.png'>
            </app-partner-image>
          </div>
          <div>
            <app-partner-image
              src='https://user-images.githubusercontent.com/32234926/64077431-41d0da80-ccee-11e9-995c-d7ea4302049a.png'>
            </app-partner-image>
          </div>
          <div>
            <app-partner-image
              src='https://user-images.githubusercontent.com/32234926/64077457-4c8b6f80-ccee-11e9-8756-218c03fd92fe.png'>
            </app-partner-image>
          </div>
        </div>
      </div>
      <div class="design-partner">
        <div class="col-xs-12 col-md-12">
          <div class="sub-title" style='line-height:50px;font-size:
            1.5em;margin-bottom: 20px'>
            Design Partner
          </div>
        </div>
        <div>
          <app-partner-image class="design-image"
            src='https://user-images.githubusercontent.com/32234926/64077403-fe766c00-cced-11e9-9360-547575715a8f.png'>
          </app-partner-image>
        </div>
      </div>
    </div>
  </div>
</div>
