<div class="toolbar-wrapper">
  <mat-toolbar class="mat-toolbar" [ngClass]="{'isScrolled': isScrolled}">
    <div class="container">
      <div class="content-wrapper">
        <div class="logo-wrppper">
          <img src="assets/images/logo_white.png" alt="">
        </div>
        <span class="spacer"></span>
        <div class="links-wrapper">
          <ul>
            <li><a [ngClass]="{'isScrolled': isScrolled}" href="">Home</a></li>
            <li><a [ngClass]="{'isScrolled': isScrolled}" href="">Speakers</a></li>
            <li><a [ngClass]="{'isScrolled': isScrolled}" href="">Team</a></li>
            <li><a [ngClass]="{'isScrolled': isScrolled}" href="">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
