<footer>
  <div class="container">
    <div class="links row"  >
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" *ngFor='let row of footerData'>
        <div style="margin: auto; width: fit-content;">
          <div class="col-title" style='text-transform: capitalize'>
            {{row.key.replace('_',' ')}}
          </div>
          <ul class="col-list">
            <li *ngFor='let link of row.data'><a [href]="link.url">{{link.text}}</a></li>
          </ul>
        </div>
      </div>
   

    </div>
  </div>
  <div class="divider col-sm-12"></div>
  <div class="container">
    <div class="row copyright">

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="logo left-align">
          <img src="assets/images/logo_white.svg" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="copyright-text" style='text-align: right'>
          © GDG Gandhinagar & DSC IIITV
        </div>
      </div>

    </div>
  </div>
</footer>
