footer
  margin-top: 50px
  background: #222222
  padding: 20px 0 0 0
  .second-col
    margin: 0 auto
    width: fit-content
  .third-col
    float: right
  .col-title
    text-transform: capitalize
    font-size: 1.3em
    padding: 10px 0
    font-family: 'Open Sans'

  .col-list
    list-style: none
    margin: 0
    padding: 0
    li
      padding: 5px 0px
      &:hover
        a
          color: #ffffff
      a
        color: #ffffff80
        font-family: 'Open Sans'
        text-decoration: none
  .divider
    background: #ffffff
    height: 2px
    border-radius: 2px
    width: 100%
    opacity: 0.1
    margin: 10px 0
  .copyright
    padding: 0 0 10px 0
    .logo
      height: 50px
      img
        padding: 10px 0
        height: 30px
    .copyright-text
      line-height: 50px
      font-family: 'Open Sans'

//   .social
//     margin: 0
//     vertical-align: middle
//     padding: 15px 0
//     .text
//       font-family: Roboto
//       vertical-align: middle
//       line-height: 35px
//       font-size: 14px
//       color: #5d5d5d
//       font-weight: 500
//       text-transform: uppercase
//     .icon
//       margin: 0 10px
//       padding: 0
//       width: 35px
//       height: 35px
//       border-radius: 20px
//       a
//         width: 35px
//         display: inline-block
//         height: 35px
//         img
//           padding: 7.5px
//           height: 100%
//           width: 100%
//           object-fit: contain
//     .share
//       margin-right: 50px
//     .email
//       .text
//         a
//           color: #5d5d5d
//           text-decoration: underline
//   .Subsscribe
//     .btn-arrow
//       background: #F5F5F5
//       &:hover
//         background: #F0EBF8
//   .links
//     .footer-section-title
//       font-size: 18px
//       font-weight: 500
//       line-height: 21px
//       margin-top: 25px
//       margin-bottom: 10px
//       color: #5d5d5d
//       &.small
//         font-size: 14px
//     .text
//       font-size: 14px
//       font-family: Roboto
//       font-weight: 400
//       line-height: 21px
//       color: #7b7b7b
//       margin-top: 25px
//       margin-bottom: 10px
//   .copywrite
//     .logo
//       img
//         padding: 17.5px 0 12.5px
//         height: 50px
//         object-fit: contain
//         vertical-align: middle
//     .text
//       line-height: 50px
//       font-size: 14px
//       font-family: Roboto
//       font-weight: 400
//       color: #7b7b7b
