<!-- <div class="social hide row">
        <div class="share col">
          <div class="text inline-block col">
            SHARE
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/facebook.svg" alt="">
            </a>
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/instagram.svg" alt="">
            </a>
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/twitter.svg" alt="">
            </a>
          </div>
        </div>
        <div class="follow col">
          <div class="text inline-block col">
            Follow us
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/fb-dark.svg" alt="">
            </a>
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/insta-dark.svg" alt="">
            </a>
          </div>
          <div class="icon waves-effect waves-dark col">
            <a href="https://www.facebook.com/">
              <img src="assets/images/twitter-dark.svg" alt="">
            </a>
          </div>
        </div>
        <div class="email col">
          <div class="text">
            <a href="">email us</a>
          </div>
        </div>
      </div> -->
<!-- <div class="divider hide">

      </div> -->

<!-- <div class="about col-xs-12 col-s-12 col-m-6 col-l-4">
          <div class="footer-section-title">
            About
          </div>
          <ul class="list">
            <li>
              <a href="https://www.meetup.com/GDG-Gandhinagar/" target='_blank' class="text">
                GDG Gandhinagar
              </a>
            </li>
            <li>
              <a href="https://developers.google.com/programs/community/gdg/" target="_blank" class="text">
                Google Developers Group
              </a>
            </li>
            <li>
              <a routerLink="/team"   class="text">
                Meet the Team
              </a>
            </li>
          </ul>
        </div>
        <div class="resources col-xs-12 col-s-12 col-m-6 col-l-4">
          <div class="footer-section-title">
            Event Resources
          </div>
          <ul class="list">
            <li>
              <a href="" class="text">
                Mediakit
              </a>
            </li>
            <li>
              <a href="https://goo.gl/forms/BS1SCfp07OeZNb2S2" target="_blank" class="text">
                Call for Papers
              </a>
            </li>
            <li>
              <a href="" class="text">
                Faq
              </a>
            </li>
          </ul>
        </div>
        <div class="Subsscribe col-xs-12 col-s-12 col-m-6 col-l-4">
          <div class="footer-section-title small">
            No spam, only the latest news and updates!
          </div>
          <form action="" [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
            <div class="input-field col s12">
              <input #subInput id="email" name="email" formControlName="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
            <button class="waves-effect waves-dark btn btn-arrow right" type="submit" [disabled]="!subscribeForm.valid">
              <span>
                Subscribe
              </span>
              <i class="large material-icons">arrow_forward</i>
            </button>
          </form>
        </div>
      </div>
      <div class="divider"></div>
      <div class="copywrite row no-marg">
        <div class="col s12 m6">
          <div class="logo left-align">
            <img src="assets/images/gdg_logo_dark.svg" alt="">
          </div>
        </div>
        <div class="col s12 m6">
          <div class="text right-align">
            © GDG Gandhinagar
          </div>
        </div>
      </div> -->
<footer>
  <div class="container">
    <div class="links row"  >
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor='let row of footerData'>
        <div class="col-title" style='text-transform: capitalize'>
          {{row.key.replace('_',' ')}}
        </div>
        <ul class="col-list">
          <li *ngFor='let link of row.data'><a [href]="link.url">{{link.text}}</a></li>
        </ul>
      </div>
      <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="second-col">
          <div class="col-title">
            Event Resources
          </div>
          <ul class="col-list">
            <li><a href="https://bit.ly/324CQNx">Call for Papers
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="third-col">
          <div class="col-title">
            title
          </div>
          <ul class="col-list">
            <li><a href="">Some Important Link</a></li>
            <li><a href="">Important Link</a></li>
            <li><a href="https://www.linkedin.com/company/dsciiitv/">DSC IIITV</a></li>
          </ul>
        </div>
      </div> -->

    </div>
  </div>
  <div class="divider col-sm-12"></div>
  <div class="container">
    <div class="row copyright">

      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="logo left-align">
          <img src="assets/images/logo_white.svg" alt="">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="copyright-text" style='text-align: right'>
          © GDG Gandhinagar & DSC IIITV
        </div>
      </div>

    </div>
  </div>
</footer>
