<div mat-title class='mat-title'>
  <div class="bg">
  </div>
  <div class="title-wrapper">

    <div class="img-wrapper">
      <img [src]="data.image" alt="">
    </div>
    <div class="name col">
      {{data.name}}
    </div>
  </div>
</div>
<div mat-dialog-content class='mat-dialog-content'>
  <div class="modal-content">
    <div class="about">
      <div class="job-title">
        {{data.JobTitle}}
      </div>
      <div class="work-place">
        {{data.company}}
      </div>
      <div class="bio">
        <div class="title">
          A bit about Path
        </div>
        <div class="bio-text">
          {{data.bio}}
        </div>
      </div>
      <!-- <div class="links">
        <a *ngIf="i.git !== ''" href="{{i.git}}" class="waves-effect" target="_blank"><i class="fab fa-github"></i></a>
        <a *ngIf="i.fb !== ''" href="{{i.fb}}" class="waves-effect" target="_blank"><i class="fab fa-facebook"></i></a>
        <a *ngIf="i.link !== ''" href="{{i.link}}" class="waves-effect" target="_blank"><i class="fa fa-link"></i></a>
      </div> -->
      <div class="session">
        <div class="title">
          Session
        </div>
        <div class="session-title">
          {{data.session}}
        </div>
        <div class="session-text">
          {{data.sessionData}}
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions  align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="'hi'" cdkFocusInitial>Ok</button>
</div>
