<div mat-title class='mat-title'>
  <div class="bg">
  </div>
  <div class="title-wrapper">
    <div class="img-wrapper">
      <img [src]="data.speaker_image" alt="data.speaker_name">
    </div>
    <div class="col">
      <div class="name">
        {{data.speaker_name}}
      </div>
      <div class="job-title">
        {{data.speaker_desc}}
      </div>
      <div class="work-place">
        {{data.company}}
      </div>
    </div>
  </div>
</div>
<div mat-dialog-content class='mat-dialog-content'>
  <div class="modal-content">
    <div class="about">
      <div class="bio">
        <div class="title">
          A bit about {{ data.speaker_name.split(' ')[0]}}
        </div>
        <div class="bio-text">
          {{data.speaker_bio}}
        </div>
      </div>
      <!-- <div class="links">
        <a *ngIf="i.git !== ''" href="{{i.git}}" class="waves-effect" target="_blank"><i class="fab fa-github"></i></a>
        <a *ngIf="i.fb !== ''" href="{{i.fb}}" class="waves-effect" target="_blank"><i class="fab fa-facebook"></i></a>
        <a *ngIf="i.link !== ''" href="{{i.link}}" class="waves-effect" target="_blank"><i class="fa fa-link"></i></a>
      </div> -->
      <div class="session">
        <div class="title">
          Session
        </div>
        <div class="session-title">
          {{data.speaker_session}}
        </div>
        <div class="session-text">
          {{data.session_details}}
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions align="center">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="'hi'" cdkFocusInitial>Cool!</button>
</div>