<div class="container">
  <div class="wrapper" *ngIf='hasData else loading;'>
    <div *ngIf="isLoggedin">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{displayName | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{photoURL}}" alt="{{displayName | uppercase}}">
      </mat-card>

    </div>

    <div>
      <ul>
        <li>
          <button mat-raised-button isRoundButton='true' *ngIf="isLoggedin"
            (click)="subscribe()">{{isSubscribed?  'Unsubscribe' :'Subscribe'}}</button>
        </li>
        <li>
          <button mat-raised-button isRoundButton='true' (click)="isLoggedin ? signOut() : signIn()"
            style="background: red">{{isLoggedin ?  'Logout' : 'Login'}}
          </button>

        </li>
      </ul>
    </div>
  </div>
  <ng-template #loading>
    <mat-progress-spinner color='white' class='spinner' mode="indeterminate"></mat-progress-spinner>
  </ng-template>
</div>
