<div class="wrapper">
  <div matRipple matRippleColor='#ffffff40' class="card-container">
    <div (click)="!isHomePage && openDialog()">
    <div class="picture-wrapper">
      <app-profile-icon [src]='config.speaker_image' width='150'></app-profile-icon>
    </div>
    <div class="session-name center-align">
      {{config.speaker_session}}
    </div>
    <div class="speaker-name center-align">
      {{config.speaker_name}}
    </div>
    <div class="icons-row center-align">
      <a *ngIf="config.track === 'mobile'" mat-icon-button class="btn-mobile">
        <i class="fa fa-mobile fa-3x"></i>
      </a>
      <a *ngIf="config.track === 'web'" mat-icon-button class="btn-mobile">
        <i class="fa fa-chrome fa-2x"></i>
      </a>
      <a *ngIf="config.track === 'ml'" mat-icon-button class="btn-mobile">
        <i class="fa fa-cogs fa-2x"></i>
      </a>
      <a *ngIf="config.track === 'cloud'" mat-icon-button class="btn-mobile">
        <i class="fa fa-cloud fa-2x"></i>
      </a>
    </div>
    <div class="job-title center-align" *ngIf="!isHomePage">
      {{config.speaker_desc}}
    </div>
    </div>
    <div class="icons-row center-align" *ngIf="!isHomePage">
      <a *ngIf="config.linkedin_url" mat-icon-button class="btn-linkedin"
        target="_blank" href="{{config.linkedin_url}}">
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
      <a *ngIf="config.fb_url" mat-icon-button class="btn-facebook"
        target="_blank" href="{{config.fb_url}}">
        <i class="fa fa-facebook-f fa-lg"></i>
      </a>
      <a *ngIf="config.twitter_url" mat-icon-button class="btn-twitter"
        target="_blank" href={{config.twitter_url}}>
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a *ngIf="config.github_url" mat-icon-button class="btn-github"
        target="_blank" href="{{config.github_url}}">
        <i class="fa fa-github fa-lg"></i>
      </a>
      <a *ngIf="config.website" mat-icon-button class="btn-globe"
        target="_blank" href="{{config.website}}">
        <i class="fa fa-globe fa-lg"></i>
      </a>
    </div>
  </div>
</div>

<!-- basic speaker card component -->
