<div class="wrapper">
  <div matRipple matRippleColor='#ffffff40' class="card-container" (click)="openDialog()">
    <div class="picture-wrapper">
      <app-profile-icon [src]='config.image' width='150'></app-profile-icon>
    </div>
    <div class="session-name center-align">
      {{config.session}}
    </div>
    <div class="speaker-name center-align">
      {{config.name}}
    </div>
    <div class="job-title center-align">
      {{config.session}}
    </div>
    <div class="icons-row center-align">
      <div class="icon-wrapper" *ngFor="let item of config.socialMediaLinks">
        <div [ngSwitch]="item.kind">
          <div *ngSwitchCase="'Github'">
            <a [href]="item.link"><span class='icon'>icon</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- basic speaker card component -->
